apiVersion: v1
data:
  # All configs (except security and auth.anonymous) match the kube-prometheus-stack/charts/grafana/templates/configmap.yaml
  grafana.ini:
    "[analytics]\ncheck_for_updates = true\n[grafana_net]\nurl = https://grafana.net\n[log]\nmode
    = console\n[paths]\ndata = /var/lib/grafana/\nlogs = /var/log/grafana\nplugins
    = /var/lib/grafana/plugins\nprovisioning = /etc/grafana/provisioning\n[server]\ndomain
    = ''\n[security] \nallow_embedding = true\n[auth.anonymous] \nenabled = true \norg_role
    = Admin\n[users] \ndefault_org_role = Admin"
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release.name: prometheus
    meta.helm.sh/release-namespace: default
  creationTimestamp: '2023-08-04T15:02:05Z'
  labels:
    helm.sh/chart: grafana-6.58.6
    app.kubernetes.io/version: '10.0.2'
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: prometheus
    app.kubernetes.io/managed-by: Helm
  name: prometheus-grafana
  namespace: default
  resourceVersion: ''
  uid:
