//Color Palette - replace colors.
$lightest: #ffffff;
$lighter: #ccf9f8;
$light: #90f3f2;
$mid: #2debeb;
$dark: #276e6e;
$darker: #0d295c;
$black: #1c37a3;

// kubereadys color palette
$red: #ff3131;
$green: #9cd67c;
$yellow: #ffde59;
