// NOT CURRENTLY USING

.header {
  background-color: #000;
  width: 100%;
  padding: 0;
  margin: 0;

  .content {
    margin: 0px auto;
    width: 100%;

    h1 {
      color: white;
    }
    p {
      color: white;
    }
  }
}
