//Entire page
#app {
  height: 100%;
}

.dashboard-container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dashboard-iframe {
  width: 100%;
  height: 1000px;
  border: none;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  color: white;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

.logout-link,
.signup-link {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.logout-link {
  background-color: $green;
  color: #282828;
  box-shadow: 0 0 7px rgba(40, 40, 40, 0.2);
}

.logout-link:hover {
  opacity: 0.8;
}
.logout-link:active {
  opacity: 0.6;
}
