// container that holds the login-input/createAcct button

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.login-mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

.login-mainContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient($red, $yellow, $green);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

.login-mainContainer span
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
.login-mainContainer span:hover 
{
  background: $green;
  transition: 0s;
}
.login-mainContainer .login-rightContainer
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.login-mainContainer .login-rightContainer .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .login-rightContainer .content h1
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
section .login-rightContainer .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-mainContainer .login-rightContainer .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.login-mainContainer .login-rightContainer .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.login-mainContainer .login-rightContainer .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}


// .login {
//   font-family: 'Roboto', sans-serif;
//   text-align: center;
//   font-size: x-large;
// }
//
// .login-mainContainer{
//   // font-family: 'Roboto', sans-serif;
//   // display: flex;
//   // justify-content: center;
//   // align-items: stretch;
//   // flex-wrap: wrap;
//   // height: 100vh;
//   // margin: 0 auto;
//   // max-width: 1200px;
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 2px;
//   flex-wrap: wrap;
//   overflow: hidden;

//   .leftContainer, .rightContainer {
//     flex: 1;
//     padding: 20px;
//     border-radius: 10px;
//     transition: transform 0.3s ease;
//     max-width: calc(50% - 20px);
//     min-width: 300px;
//     max-width: 100%;
//     margin-top: calc((100vh - 60vh) / 2);
//   }

//     .leftContainer {
//         margin-right: 10px;
//         height: 50vh;
    
//         // //  box-shadow: 0px;
//         //  flex: 1;
//         //  top: 50%;
//         // //  left: 200px; // commenting out just for testing
//         // //  transform: translate(0, -50%); // commenting out just for testing
//         // //  background: linear-gradient(135deg, #e6f7ff, #cceeff);
//         //  padding: 20px;
//         // //  box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.1);
//         //  border-radius: 10px;
//         // //  position: fixed; // commenting out just for testing
//         //  justify-content: center;
//         //  align-items: center;
//         //  transition: transform 0.3s ease;
//         //  flex-wrap: wrap;
//         //  max-width: calc(50% - 20px);
//         //  min-width: 300px;
//         //  height: 50vh;
//         // //  width: 100vh;

//             .logoImage {
//                 object-fit: contain;
//                 width: 90%;
//                 height: 20%;
//             }

//             #instructions-title {
//                 color: black; 
//                 font: sans-serif;
//               }
              
//             #redirect-button {
//                 border-radius: 20px;
//             }
//         }
        
        
//         .rightContainer {
//         background: linear-gradient(135deg, #fafcfd, #30adeb);
//         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//         margin-left: 10px; /* Add a margin to separate the two containers */
//         height: 350px;
//         //  justify-content: center;
//         //  align-items: center;
//         //  flex: 1;
//         // //  box-shadow: 0px;
//         //  top: 50%;
//         // right: 200px; // commenting out just for testing
//         //  padding: 50px;
//         // //  transform: translate(0, -50%); // commenting out just for testing
//         //  background: linear-gradient(135deg, #fafcfd, #30adeb);
//         //  padding: 20px;
//         //  box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.1);
//         //  border-radius: 10px;
//         // //  position: fixed; // commenting out just for testing
//         //  transition: transform 0.3s ease;
//         //  max-width: calc(50% - 20px);
//         // //  min-width: 300px; 
//         //  width: 250px; // commenting out just for testing
//         //  height: 350px;
//         //  flex-wrap: wrap

//            //Button to create account.
//             .createAcct-button{
//                 color: white;
//                 background-color: rgb(8, 8, 8);
//                 border-radius: 20px;
//                 padding: 10px 20px;
//                 margin-right: 5px;
//                 cursor: pointer;
//                 a {
//                 color: whitesmoke; // Replace with the color you want
//                 }
//             }

//             .login-button{
//                 color: white;
//                 background-color: rgb(13, 13, 13);
//                 border-radius: 20px;
//                 padding: 10px 20px;
//                 margin-right: 5px;
//                 cursor: pointer;
//               }
            
//             //Input fields
//             .login-input{
//                 background-color: rgb(255, 252, 252);
//                 border-radius: 8px;
//                 padding: 10px;
//                 margin-bottom: 10px;
//                 color: darkblue;
//                 width: 200px;
//                 font-size: 16px;
//             }
//         }
// }
// *
// {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Quicksand', sans-serif;
// }
// body 
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #000;
// }
// section 
// {
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 2px;
//   flex-wrap: wrap;
//   overflow: hidden;
// }
// section::before 
// {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(#000,#0f0,#000);
//   animation: animate 5s linear infinite;
// }
// @keyframes animate 
// {
//   0%
//   {
//     transform: translateY(-100%);
//   }
//   100%
//   {
//     transform: translateY(100%);
//   }
// }
// section span 
// {
//   position: relative;
//   display: block;
//   width: calc(6.25vw - 2px);
//   height: calc(6.25vw - 2px);
//   background: #181818;
//   z-index: 2;
//   transition: 1.5s;
// }
// section span:hover 
// {
//   background: linear-gradient(135deg, $red, $green, $yellow);
//   transition: 0s;
// }

// section .signin
// {
//   position: absolute;
//   width: 400px;
//   background: #222;  
//   z-index: 1000;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 40px;
//   border-radius: 4px;
//   box-shadow: 0 15px 35px rgba(0,0,0,9);
// }
// section .signin .content 
// {
//   position: relative;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   gap: 40px;
// }
// section .signin .content h2 
// {
//   font-size: 2em;
//   color: #0f0;
//   text-transform: uppercase;
// }
// section .signin .content .form 
// {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 25px;
// }
// section .signin .content .form .inputBox
// {
//   position: relative;
//   width: 100%;
// }
// section .signin .content .form .inputBox input 
// {
//   position: relative;
//   width: 100%;
//   background: #333;
//   border: none;
//   outline: none;
//   padding: 25px 10px 7.5px;
//   border-radius: 4px;
//   color: #fff;
//   font-weight: 500;
//   font-size: 1em;
// }
// section .signin .content .form .inputBox i 
// {
//   position: absolute;
//   left: 0;
//   padding: 15px 10px;
//   font-style: normal;
//   color: #aaa;
//   transition: 0.5s;
//   pointer-events: none;
// }
// .signin .content .form .inputBox input:focus ~ i,
// .signin .content .form .inputBox input:valid ~ i
// {
//   transform: translateY(-7.5px);
//   font-size: 0.8em;
//   color: #fff;
// }
// .signin .content .form .links 
// {
//   position: relative;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
// .signin .content .form .links a 
// {
//   color: #fff;
//   text-decoration: none;
// }
// .signin .content .form .links a:nth-child(2)
// {
//   color: #0f0;
//   font-weight: 600;
// }
// .signin .content .form .inputBox input[type="submit"]
// {
//   padding: 10px;
//   background: #0f0;
//   color: #000;
//   font-weight: 600;
//   font-size: 1.35em;
//   letter-spacing: 0.05em;
//   cursor: pointer;
// }
// input[type="submit"]:active
// {
//   opacity: 0.6;
// }
// @media (max-width: 900px)
// {
//   section span 
//   {
//     width: calc(10vw - 2px);
//     height: calc(10vw - 2px);
//   }
// }
// @media (max-width: 600px)
// {
//   section span 
//   {
//     width: calc(20vw - 2px);
//     height: calc(20vw - 2px);
//   }
// }