// container that holds the login-input/createAcct button
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  display: absolute;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

//Background of page.
.login-mainContainer, .signup-mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

.login-mainContainer::before, .signup-mainContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient($red, $yellow, $green);
  animation: animate 5s linear infinite;
}

//Animating the background
@keyframes animate {
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

//Color-changing spans. 
.login-mainContainer span, .signup-mainContainer span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
.login-mainContainer span:hover, .signup-mainContainer span:hover {
  background: $green;
  transition: 0s;
}

.login-mainContainer .login-rightContainer, .signup-mainContainer .signup-box {
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}

//Login content positioning. 
.login-mainContainer .login-rightContainer .content, .signup-mainContainer .signup-box .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.login-mainContainer .login-rightContainer .content, .signup-mainContainer .signup-box .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.login-mainContainer .login-rightContainer .content h1, .signup-mainContainer .signup-box .content h1 {
  font-size: 2em;
  color: $green;
  text-transform: uppercase;
}
.signup-mainContainer .signup-box .content h2 {
  font-size: 1.5em;
  color: $green;
}

//Login form positioning and styling. 
.login-mainContainer .login-rightContainer .content .form, .signup-mainContainer .signup-box .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-mainContainer .login-rightContainer .content .form .inputBox, .signup-mainContainer .signup-box .content .form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.login-mainContainer .login-rightContainer .content .form .inputBox input, .signup-mainContainer .signup-box .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.login-mainContainer .login-rightContainer .content .form .inputBox i, .signup-mainContainer .signup-box .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: $green;
}

//Create Account Redirecting Line
.create-account-redirect-link {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.create-account-redirect-link .question {
  color: white;
}
.create-account-redirect-link .answer {
  color: $green;
  cursor: pointer;
  text-decoration: none;
}
.create-account-redirect-link .answer:hover {
  opacity: 0.8;
}
.create-account-redirect-link .answer:active {
  opacity: 0.6;
}

//Login Button
.login-button, .signup-button {
  width: 100%;
  border-style: none; 
  border-radius: 4px;
  background: $green;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.login-button:hover, .signup-button:hover {
  opacity: 0.8;
}
.login-button:active, .signup-button:active {
  opacity: 0.6;
}

//Set the span width and heights based on media size. 
@media (max-width: 900px) {
  .login-mainContainer span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  .login-mainContainer span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}