//Logout button
#logout-button {
  border: none;
  background-color: $light;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}

// color
#logout-button {
  background-color: rgb(183, 183, 183);
}